<!-- footer Start -->
<footer class="footer pb-md-5 pb-sm-5 secondary-bg pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget footer-widget">
            <div class="footer-logo footer-title mb-4"><h2>Eden</h2></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet pariatur delectus excepturi debitis ad architecto non, sequi minus quo similique.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-md-4 mb-sm-4">
          <div class="widget footer-widget">
            <h3 class="mb-4">Address</h3>
            <ul class="list-inline footer-address">
              <li class="list-inline-item">
                <i class="ion-android-call"></i>
                 (+233) 123 456789
              </li>
              <li class="list-inline-item">
                <i class="ion-laptop"></i>
                  contact@sparta.com
              </li>
              <li class="list-inline-item">
                <i class="ion-ios-location"></i>
                 St Amsterdam finland,United Stats of AKY16 8PN
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-md-4 mb-sm-4">
          <div class="widget footer-widget">
            <h3 class="mb-4">Quick Links</h3>
            <ul class="list-unstyled footer-menu mb-0">
              <li>
                <a href="#"><i class="fa fa-angle-right"></i>Home</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-angle-right"></i>Services</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-angle-right"></i>Testimonial</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-angle-right"></i>Blog</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-angle-right"></i>Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget footer-widget">
            <h3 class="mb-4">Company</h3>
            <ul class="list-unstyled footer-menu mb-0">
              <li><a href="#">Term & Conditions </a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Site Map </a></li>
            </ul>
            <h4 class="my-4">Follow US</h4>
            <ul class="list-inline footer-socials">
              <li class="list-inline-item">
                <a href="#"><i class="ion-social-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="ion-social-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="ion-social-pinterest"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="ion-social-linkedin"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="ion-social-rss"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>