<!-- Header Start --> 
<header class="navigation">
    <div class="top-header py-2">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <div class="top-header-left text-muted">
              Agra, India
            </div>
          </div>
          <div class="col-lg-4">
            <div class="top-header-right float-right">
              <ul class="list-unstyled mb-0">
                <li class="top-contact">
                  <a href="tel:+91545556555"> <i class="ion-android-call mr-2"></i><span class="text-color">+9157555665</span>
                  </a>
                </li>
                <li class="language ml-3">
                    <select class="country" name="country">
                      <option>EN</option>
                      <option>Hindi</option>
                      <option>Tamil</option>
                      <option>Malyalam</option>                    
                    </select>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
      <nav class="navbar navbar-expand-lg bg-white w-100 p-0" id="navbar">
        <div class="container">
          <a class="navbar-brand" href="assets/index.html"><img src="assets/images/logo.png" alt="Eden" class="img-fluid"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            <a class="nav-link" href="assets/index.html">Home <span class="sr-only">(current)</span></a>
            </li>			  
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rooms</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown02">
              <li><a class="dropdown-item" href="../index.html">Room List</a></li>
              <li><a class="dropdown-item" href="../index.html">Room-grid</a></li>
             <li> <a class="dropdown-item" href="../index.html">Room Details</a></li>
            </ul>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reservation</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="../index.html">Select Room</a></li>
              <li><a class="dropdown-item" href="../index.html">Make Resrvation</a></li>
              <li><a class="dropdown-item" href="../index.html">Payment</a></li>
              <li> <a class="dropdown-item" href="../index.html">Confirmation</a></li>
            </ul>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="../index.html">Event Fullwidth</a></li>	
              <li><a class="dropdown-item" href="../index.html">Event Grid</a></li>
              <li><a class="dropdown-item" href="../index.html">Event Details</a></li>
            </ul>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown05">
              <li><a class="dropdown-item" href="../index.html">Blog Full width</a></li>
              <li><a class="dropdown-item" href="../index.html">Blog Grid</a></li>
              <li><a class="dropdown-item" href="../index.html">Blog Left Sidebar</a></li>
              <li><a class="dropdown-item" href="../index.html">Blog Right Sidebar</a></li>
              <li><a class="dropdown-item" href="../index.html">Blog Details Right Sidebar</a></li>
              <li><a class="dropdown-item" href="../index.html">Blog Details Left Sidebar</a></li>
            </ul>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown2">
              <li><a class="dropdown-item" href="assets/about.html">About Us</a></li>
              <li><a class="dropdown-item" href="assets/service.html">Services</a></li>
              <li><a class="dropdown-item" href="assets/search.html">Advance Search</a></li>
              <li><a class="dropdown-item" href="assets/pricing.html">Pricing</a></li>
              <li><a class="dropdown-item" href="assets/404.html">404 Not found</a></li>
              <li><a class="dropdown-item" href="assets/contact.html">Contact Us</a></li>
              <li class="dropdown dropdown-submenu dropright">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallery</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown3">
                  <li><a class="dropdown-item" href="assets/gallery-3.html">Gallery 3 Col</a></li>
                  <li><a class="dropdown-item" href="assets/gallery-4.html">Gallery 4 Col</a></li>
                </ul>
              </li>
              </ul>
            </li>
          </ul>
          <form class="form-inline my-2 my-md-0 ml-lg-4">
            <a href="../index.html" class="btn btn-main">Book Online</a>
          </form>
          </div>
        </div>
      </nav>
    </header>
    <!-- Header Close --> 